
.layout {
  display: flex;
  height: 100vh;
}


.side-bar {
  background-color: lightcoral;
  width: 60px;
  transition: width 250ms ease, transform 250ms ease;
  overflow: hidden;
}


.layout.expanded .side-bar {
  width: 240px;
}


.content {
  flex: 1;
  padding: 1rem;
}

.content {
  padding-top: 64px;
}

@media (max-width: 600px) {
  .content { padding-top: 56px; }
}